*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
}
.title{
    font-size: 30px;
}
ul{
    position: relative;
    left: 40px;
   
}
.reload{
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    cursor: pointer;
}
.hide{
    display: none;
}